{{extend 'layout.html'}}
<div class="row">
{{=problem_body}}
</div>
<div class="row"><select id="file_paths" onchange="change_text(this.value)"></select>
<div class="row">
<select id="mode" onchange="change_mode(this.value)">
    {{include 'default/modes.html'}}
</select>
</div>
<div class="row">
<div id="editor"></div>
</div>
<div class="row"><input type="button" value="Submit" onclick="submit()"><div id="submit_status"></div></div>
<script>
    // =URL does not works only in files which are processed by web2py the
    //custom.js file is a static file and hence is served as is.
    var submit_url="{{=URL('submit')}}";
</script>
<script src="{{=URL('static','ace/ace.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{=URL('static','js/custom.js')}}" type="text/javascript" charset="utf-8" ></script>
