{{extend 'layout.html'}}
<div class="row">
{{=problem_body}}
</div>
<div class="row"><select id="file_paths" onchange="change_text(this.value)"></select>
<div class="row">
<select id="mode" onchange="change_mode(this.value)">
    {{include 'default/modes.html'}}
</select>
</div>
<div class="row">
<div id="editor"></div>
</div>
<script src="{{=URL('static','ace/ace.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{=URL('static','js/custom.js')}}" type="text/javascript" charset="utf-8" ></script>
